
body{
    color: slategray;
    margin: 0; 
}


.home{
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    border:rgb(3, 36, 225) double 2px;
    border-radius: 8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: slategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(3, 36, 225);
    color: white;
}

b{
    color: rgb(4, 4, 154);
}

footer {
    background-color: rgb(21, 0, 126);
    color: white;
    padding: 20px;
}
