* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    color: slategray; 
    background-color: rgb(229, 255, 255);
    font-family: 'Dosis', sans-serif;
}

.header{
    font-size: 15px;
    color: whitesmoke;
    padding: 20px;
    grid-area: header;
    background-image: url(/Website/Fotos/griekenland-vakantie-aanbieders.jpeg);
    background-position:80%;
    width: 96,5%;
    height: 100px;
}

.nav{
    border-bottom: 1px solid white;
    background-color: rgb(21, 0, 126);
    z-index: 10;
}

.toggle{
    position:absolute;
    cursor: pointer;
    margin:0rem 1rem;
    right:0;
}

svg{
    width: 1.5rem;
    fill: white ;
}

.close {
    display: none;
}

.nav_menu{
    margin-top: 0.3rem;
}

.checkbox{
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
    padding-bottom: 15px;
    background-color: rgb(21, 0, 126);
}

li{
    list-style: none;
    display: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

#checkbox:checked ~ ul.menu li{
    display: block;
}

#checkbox:checked ~ label.toggle .close{
    display:block ;
}

#checkbox:checked ~ label.toggle .nav_menu{
    display: none;
}

nav a:hover {
    color:rgb(176, 215, 248);}

.content{
    grid-area: content;
}

.div1 {
    padding: 10px;
    text-align: center;
    grid-area: div1;
}

.foto{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    grid-area: foto;
}

.div2 {
    padding: 10px;
    text-align: center;
    grid-area: div2;
}

.footer{
    color: white;
    background-color: rgb(21, 0, 126);
    padding: 10px;
    font-size: 13px;
    grid-area: footer;
}
  

/* Bestemmingen*/
h3{
    text-decoration: underline;
   padding-top: 20px;
}

.bestemmingen{
    margin: 20px;
    width: 27em;
}

.bestemming{
    height: 180px;
    width: 49%;
}

iframe{
    padding: 10px;
    margin-top: 15px;
    width: 400px;
    height: 310px;

}

/* Recepten*/
.recepten{
    margin: 20px;
}

.recept{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
list-style-type: none;
gap: 15px;
}

/* Pagina Griekse taal*/
b{
    color: rgb(4, 4, 154);
    font-size:large;
}

.taal{
    margin: 20px;
    width: 25em;
}

/* contact pagina */
.form{
   margin: 20px;
   padding-bottom: 10px;
   width: 20em;
} 

.container  {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100px 40px 1fr 40px;
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer";
 }

/* media querie */
@media screen and (min-width: 768px){
    .header{
        font-size: 20px;
    }
    .toggle{
        display: none;
    }

    .menu{
        flex-direction: row;
        padding-bottom: 0;
        margin-top: 0.5rem;
    }
    
    .menu > li {
        display: block;
    }

    .content_home{
        display: grid;
        height: 100%;
        grid-template-columns: 150px 2fr 1fr;
        grid-template-rows: 500px ;
        grid-template-areas: 
        "div1 foto div2";
        margin: 20px;
    }

    .foto{
        place-self: center;
        width: 400px;
        height: auto;
    }

   .bestemmingen{
    margin-right: auto;
    margin-left: auto;
    width: 40em ;
   }

   .bestemming{
    width: 49%;
    height: 200px;
   }

   iframe{
    width:100%;
    height: 300px;
   }

    .taal{
        margin-right: auto;
        margin-left: auto;
        width: 30em ;
    }

    .form{
        margin-right: auto;
        margin-left: auto;
        width: 20em;
    }

}

@media screen and (min-width: 1024px){
    .toggle{
        display: none;
    }

    .menu{
        flex-direction: row;
    }
    
    .menu > li {
        display: block;
    }

    .content_home{
        display: grid;
        height: 100%;
        grid-template-columns: 250px 2fr 300px;
        grid-template-rows: 500px ;
        grid-template-areas: 
        "div1 foto div2";
        margin: 20px;
    }

    .div1{
        font-size: 22px;
    }

    .foto{
        place-self: center;
        width: 600px;
        height: auto;
    }
    .div2{
        place-self: end;
        font-size: 17px;
    }
    .taal{
        margin-right: auto;
        margin-left: auto;
        width: 50em ;
    }

    .form{
        margin-right: auto;
        margin-left: auto;
        width: 40em;
        border: double 3px rgb(21, 0, 126);
        padding: 3em;
        text-align: center;
    }

}



